---
layout: "base.njk"
others: "<link rel='stylesheet' href='static/blog.css'>"
---

<div class="block" id="main">
    <a href="./index.html" class="back"><< Back</a>
    {{ content | safe }}
</div>

