<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Eleventy">
    {% if desc %}
        <meta name="description" content="{{ desc }}">
    {% else %}
        <meta name="description" content="personal portfolio website where i write about myself and what i've done in the past.">
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% else %}
        <meta name="keywords" content="mier, Mier, Juan Mier, Juan Francisco Mier Montoto, Mier Montoto, miermontoto">
    {% endif %}
    <meta name="author" content="Juan Mier">
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/global.js" defer></script>
    <link rel="icon" href="/assets/favicon.svg" type="image/x-icon">
    <title>{{ title }}</title>
    {% if js %}
        <script src="{{ js }}" defer></script>
    {% endif %}
    {% if css %}
        <link rel="stylesheet" href="{{ css }}">
    {% endif %}
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-analytics.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDpzq7qtilzYLKprqSaGt1HaxoGAXqZ5N8",
            authDomain: "mier-f6277.firebaseapp.com",
            projectId: "mier-f6277",
            storageBucket: "mier-f6277.appspot.com",
            messagingSenderId: "427767389600",
            appId: "1:427767389600:web:65a83378aeb9ad53a498c5",
            measurementId: "G-R0SHSFGF3Y"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
</head>
<body>
    <div id="browser-info">
        <span id="general-info"></span>
        <span id="window-info"></span>
        <span id="time-info"></span>
        <span id="click-info"></span>
    </div>
    {{ content | safe }}
    <a id="version-tag" href="https://github.com/miermontoto/miermontoto" target="_blank">{% version %}</span>
</body>
</html>
