---
layout: base.njk
---

{% addStyle 'generic' %}

<div id="title-container">
    <span id="breadcrumbs">
        {% set navPages = collections.all | eleventyNavigation %}
        {% breadcrumbs navPages, page %}
    </span>
    <span id="title">{{ emoji }} {{ title | safe }}</span>
    {% if subtitle %}
        <span id="subtitle">{{ subtitle | safe }}</span>
    {% endif %}
    {% if created_at %}
        <span class="date">{{ created_at }}</span>
    {% endif %}
</div>

{{ content | safe }}
