---
layout: generic.njk
---

{% import "src/static/macros.njk" as macros %}

<div id="button-container">
    {% if source %}
        <a href="{{ source }}" id="source" class="button"><img src="/assets/icons/tech/git.svg" class="icon invert" alt="source icon">source</a>
    {% endif %}
    {% for button in buttons %}
        <a class="button" href="{{ button.url }}">
            {{ button.img }}
            {% if button.icon %}
                {% if button.from %}
                    {{ macros.renderIcon(button.icon, true, false, button.from) }}
                {% else %}
                    {{ macros.renderIcon(button.icon, true) }}
                {% endif %}
            {% endif %}
            {{ button.text }}
        </a>
    {% endfor %}
</div>

<hr>

{% if content %}
    {{ content | safe }}
{% else %}
    <br> work in progress!
{% endif %}

{% include "src/templates/snippets/footer.njk" %}
