---
layout: base.njk
css: project
---

<a href="{{ back or "/" }}" id="back">< go back</a>
{% if source %}
    <span id="sep"> | </span>
    <a href="{{ source }}" id="source">source code ></a>
{% endif %}
<h1>{{ title }}</h1>
{% if buttons %}
    {% for button in buttons %}
        {{ button | safe }}
    {% endfor %}
{% endif %}
<hr>
{% if content %}
    {{ content | safe }}
{% else %}
    <br> work in progress!
{% endif %}
