---
layout: base.njk
css: /static/css/project.css
---

<a href="/" id="back">< go back</a>
{% if source %}
    <span id="sep"> | </span>
    <a href="{{ source }}" id="source">source code ></a>
{% endif %}
<h1>{{ title }}</h1>
<hr>
{% if content %}
    {{ content | safe }}
{% else %}
    <br> work in progress!
{% endif %}
