---
layout: generic.njk
---
{% addStyle "quiz" %}
{% addScript "quiz" %}

<div id="button-container">
	<a href="/content/collections/quizzes/{{title}}.data.json" alt="download json" class="button"><img src="/assets/icons/misc/download.svg" class="icon invert" alt="download icon">download json</a>
	<a href="https://github.com/miermontoto/miermontoto/issues/new" alt="report an issue" class="button"><img src="/assets/icons/misc/bug.svg" class="icon invert" alt="bug icon">report an issue</a>
	<a href="https://github.com/search?q=repo%3Amiermontoto%2Fmiermontoto+path%3A**%2F{{eleventyNavigation.key}}.*&type=code" alt="source code" class="button"><img src="/assets/icons/tech/git.svg" class="icon invert" alt="git icon">source</a>
</div>
<hr>
<div id="results">
	<span id="correct">0</span> / <span id="total">?</span>
	<span id="→">→</span>
	<span id="scored"><span id="score">0</span>%</span>
	<noscript>ERROR: JavaScript is NEEDED for the quiz to work!</noscript>
</div>
<span class="button" id="reset"><img src="/assets/icons/misc/reset.svg" class="icon invert" alt="reset"> reset</span>
<div id="options">
	<h2>opciones.</h2>
	<input type="checkbox" id="shuffle-questions" checked>
	<label for="shuffle-questions">saltear preguntas</label>
	<br>
	<input type="checkbox" id="shuffle-answers" checked>
	<label for="shuffle-answers">saltear respuestas</label>
</div>

{% quizButtons data %}
<hr>
{% quizQuestions data %}
<hr>
{% top %}

{% include "src/templates/snippets/footer.njk" %}
