---
layout: project.njk
eleventyComputed:
  buttons:
    - text: "get json"
      icon: "download"
      url: "/content/collections/quizzes/{{ page.fileSlug }}.data.json"
      from: "misc"
    - text: "report issue"
      icon: "bug"
      url: "https://github.com/miermontoto/mier.info/issues/new"
      from: "misc"
---

{% addStyle "quiz" %}
{% addScript "quiz" %}

<div id="quiz-header">
	<div id="results">
		<span id="correct">0</span> / <span id="total">?</span>
		<span id="→">→</span>
		<span id="scored"><span id="score">0</span>%</span>
		<noscript>ERROR: JavaScript is NEEDED for the quiz to work!</noscript>
	</div>
	<div id="options">
		<label>
			<input type="checkbox" id="shuffle-questions" checked>
			<span>saltear preguntas</span>
		</label>
		<label>
			<input type="checkbox" id="shuffle-answers" checked>
			<span>saltear respuestas</span>
		</label>
		<span class="button" id="reset"><img src="/assets/icons/misc/reset.svg" class="icon invert" alt="reset"> reset</span>
	</div>
</div>

{% if data %}
	{% quizButtons data %}
	<hr>
	{% quizQuestions data %}
{% else %}
	{{ content | safe }}
{% endif %}
<hr>
{% include 'src/templates/snippets/top.njk' %}

{% include "src/templates/snippets/footer.njk" %}
