---
layout: generic.njk
---

{% import "src/static/macros.njk" as macros %}
{% addStyle 'til' %}
{% addScript 'til' %}

<hr>

{{ content | safe }}

<hr>

<h3>more TILs</h3>
{% tilRelated collections.til, page %}

<hr>

<div id="til-timestamps">{% tilTimestamps collections.til, page %}</div>
