{% addScript 'base64' %}
{% addStyle 'webutils' %}

<div id="decoded">
	<textarea class="input" id="decoded-text" placeholder="Plain text"></textarea>
	<span class="button" id="decoded-copy">⎘</span>
</div>
<span><=></span>
<div id="encoded">
	<textarea class="output" id="encoded-text" placeholder="Encoded text"></textarea>
	<span class="button" id="encoded-copy">⎘</span>
</div>
