---
title: base64
desc: 'encode/decode base64'
redirect_from: /webutils/base64/
eleventyNavigation:
  key: base64
---

{% addScript 'base64' %}
{% addStyle 'webutils' %}

<div id="decoded">
	<textarea class="input" id="decoded-text" placeholder="plain text"></textarea>
	{# <span class="button" id="decoded-copy">⎘</span> #}
</div>
<span><=></span>
<div id="encoded">
	<textarea class="output" id="encoded-text" placeholder="encoded text"></textarea>
	{# <span class="button" id="encoded-copy">⎘</span> #}
</div>
