---
title: emoji
desc: 'random emoji generator'
redirect_from: /webutils/emoji/
eleventyNavigation:
  key: emoji
---

<div>
	<span class="output" id="emoji-output"></span>
	<span class=button id="emoji-generate">generate</span>
	<span class=button id="emoji-copy">copy</span>
</div>
