---
title: percent-encoding
desc: 'encode/decode url strings'
redirect_from: ['/webutils/percent/', '/webutils/url/']
---

<textarea class="input" id="url-decoded" placeholder="decoded URL"></textarea>
<span>&lt;=></span>
<textarea class="output" id="url-encoded" placeholder="encoded URL"></textarea>
