---
title: quoted-printable
desc: 'encode/decode quoted-printable'
redirect_from: /webutils/qp/
---

<div class="decoded">
	<textarea class="input" id="qp-decoded-text" placeholder="plain text"></textarea>
</div>
<span><=></span>
<div class="encoded">
	<textarea class="output" id="qp-encoded-text" placeholder="encoded text"></textarea>
</div>
