---
title: tiny
desc: 'string tinyfier'
redirect_from: /webutils/tiny/
eleventyNavigation:
  key: tiny
---

{% addScript 'tiny' %}
{% addStyle 'webutils' %}

<div id="options">
	<input type="checkbox" id="tiny-ignore">
	<label for="tiny-ignore">Ignore untinifyable content</label>
</div>
<input class="input" id="tiny-input" type="text" placeholder="string to tinify">
<br>
<span class="output" id="tiny-output"></span>
<span class=button id="tiny-copy">copy</span>
