---
title: url
desc: 'encode/decode url'
eleventyNavigation:
  key: url
---

{% addStyle 'webutils' %}
{% addScript 'url' %}

<textarea class="input" id="url-decoded" type="text" placeholder="decoded URL"></textarea>
<span><=></span>
<textarea class="output" id="url-encoded" type="text" placeholder="encoded URL"></textarea>
