---
title: url
desc: 'encode/decode url'
redirect_from: /webutils/url/
eleventyNavigation:
  key: url
---

<textarea class="input" id="url-decoded" placeholder="decoded URL"></textarea>
<span><=></span>
<textarea class="output" id="url-encoded" placeholder="encoded URL"></textarea>
