<section id="shortcuts-section">
    <h3>keyboard shortcuts.</h3>
    <h4>sections</h4>
    <div class="shortcut">
        <span class="key">p</span> projects
    </div>
    <div class="shortcut">
        <span class="key">a</span> about
    </div>
    <div class="shortcut">
        <span class="key">esc</span> close
    </div>
    <h4>background</h4>
    <div class="shortcut">
        <span class="key">m</span> change marquee
    </div>
    <div class="shortcut">
        <span class="key">n</span> next video
    </div>
    <div class="shortcut">
        <span class="key">s</span> stop video
    </div>
    <div class="shortcut">
        <span class="key">?</span> show shortcuts
    </div>
    <h4>links</h4>
    <div class="shortcut">
        <span class="key">c</span> changelog
    </div>
    <div class="shortcut">
        <span class="key">t</span> treemap
    </div>
    <div class="shortcut">
        <span class="key">.</span> source
    </div>
</section>
