---
title: gti quiz
desc: homemade quiz made up of official questions of the course <i>Gestión de Tecnologías de la Información</i>
icons: [eleventy, js]
permalink: /gti/
demo: /gti/
source: https://github.com/search?q=repo%3Amiermontoto%2Fmiermontoto+gti.&type=code
download: /content/collections/projects/gti.data.json
buttons: ['<a class="button" href="/content/collections/projects/gti.data.json"><img src="/assets/icons/button/download.svg" class="icon invert" alt="download"> download json</a>',
		  '<span class="button" id="reset"><img src="/assets/icons/button/reset.svg" class="icon invert" alt="reset"> reset</span>'
		 ]
---

{% addStyle 'gti' %}
{% addScript 'gti' %}

<div id="results">
	<span id="correct">0</span> / <span id="total">?</span>
	<span id="→">→</span>
	<span id="scored"><span id="score">0</span>%</span>
	<noscript>ERROR: JavaScript is NEEDED for the quiz to work!</noscript>
</div>
<div id="options">
	<input type="checkbox" id="shuffle-questions" checked>
	<label for="shuffle-questions">shuffle questions</label>
	<br>
	<input type="checkbox" id="shuffle-answers" checked>
	<label for="shuffle-answers">shuffle answers</label>
</div>

<hr>
<div id="questions">
	{% questions questions %}
</div>
<hr>

{% top %}
