---
title: gti quiz
desc: homemade quiz made up of official questions of the course <i>Gestión de Tecnologías de la Información</i>
icons: [devicon-eleventy-plain, devicon-javascript-plain]
permalink: /gti/
demo: /gti/
source: https://github.com/search?q=repo%3Amiermontoto%2Fmiermontoto+gti.&type=code
download: /content/collections/projects/gti.data.json
---

{% addStyle 'gti' %}
{% addScript 'gti' %}

<div id="results">
	<span id="correct">0</span> / <span id="total">?</span>
	<span id="→">→</span>
	<span id="scored"><span id="score">0</span>%</span>
	<noscript class=".error">ERROR: JavaScript is NEEDED for the quiz to work!</noscript>
</div>
<span class="button" id="reset">reset</span>
<div id="options">
	<input type="checkbox" id="shuffle-questions" checked>
	<label for="shuffle">shuffle questions</label>
	<br>
	<input type="checkbox" id="shuffle-answers" checked>
	<label for="shuffle">shuffle answers</label>
</div>

<hr>
<div id="questions">
	{% questions questions %}
</div>
<hr>

{% top %}
