---
title: gti quiz
desc: homemade quiz made up of official questions of the course <i>Gestión de Tecnologías de la Información</i>
icons: [devicon-eleventy-plain, devicon-javascript-plain]
permalink: /gti/
demo: /gti/
---

{% addStyle 'gti' %}
{% addScript 'gti' %}

<div id="results">
	<span id="correct">0</span> / <span id="total">?</span>
	<span id="→">→</span>
	<span id="scored"><span id="score">0</span>%</span>
</div>
<span class="button" id="reset">reset</span>

<hr>
<div id="questions">
	{% questions questions %}
</div>
<hr>

{% top %}
