---
title: quizzes
emoji: 📝
permalink: /quizzes/
lang: es
icons: [eleventy, js, json]
redirect_from: /quiz/
desc: quizzes for different uni courses.
eleventyNavigation:
  key: quizzes
---

{% for quiz in collections.quiz %}
	<div id="{{ quiz.data.title }}" class="quiz hoverborder">
		<h2><a href="/{{ quiz.fileSlug }}">{{ quiz.fileSlug }}</a></h2>
		<p>{{ quiz.data.desc | safe }}</p>
	</div>
{% endfor %}
