---
title: til
emoji: ❔
desc: things I've asked myself over time and found the answer to.
subtitle: inspired by <a href="https://til.simonwillison.net/" target="_blank">Simon Willison's TIL</a>
icons: [eleventy, markdown, js]
permalink: /til/
eleventyNavigation:
  key: til
---

{% addStyle 'til' %}

{# TODO: search bar #}

<div id="til-tags">
	<h2>tags</h2>
	{% tilTags collections.til %}
</div>

<hr>

<div id="til-recents">
	<h2>recent TILs</h2>
	{% tilRecents collections.til %}
</div>
