---
title: webutils
desc: 'collection of various small utilities (converters, generators...)'
icons: [js]
permalink: /webutils/
emoji: 🖇️
---

<div class="carded" id="utils">
{% for util in collections.webutils %}
	<div id="{{ util.data.title }}" class="util card">
		{% addScript util.fileSlug %}
		<h2 class="card-title"><a href="/{{ util.fileSlug }}">{{ util.data.title }}</a></h2>
		{{ util.templateContent | safe }}
	</div>
{% endfor %}
</div>
