---
title: webutils
desc: 'small collection of web utilities: md5, base64, url encode/decode, etc.'
icons: [devicon-javascript-plain]
permalink: /webutils/
demo: /webutils/
---

<div class="carded" id="utils">
{% for util in collections.webutils %}
	<div id="{{ util.fileSlug }}" class="util card">
		<h2 class="card-title"><a href="/{{ util.fileSlug }}">{{ util.fileSlug }}</a></h2>
		{% set name = './src/content/collections/webutils/' + util.fileSlug + '.njk' %}
		{% renderFile name %}
	</div>
{% endfor %}
</div>
