---
title: webutils
desc: 'small collection of web utilities: md5, base64, url encode/decode, etc.'
icons: [js]
permalink: /webutils/
demo: /webutils/
eleventyNavigation:
  key: webutils
---

<div class="carded" id="utils">
{% for util in collections.webutils %}
	<div id="{{ util.fileSlug }}" class="util card">
		<h2 class="card-title"><a href="/{{ util.fileSlug }}">{{ util.fileSlug }}</a></h2>
		{{ util.templateContent | safe }}
	</div>
{% endfor %}
</div>
