---
title: quiz generator
desc: genera un quiz a partir de archivos JSON
eleventyNavigation:
  key: generator
---
{% addScript 'generator' %}
<hr>
<textarea id="json" placeholder="json"></textarea>
<hr>
<div id="inserted-questions"></div>
