---
title: gti quiz
desc: preguntas de socrative, examen y otras fuentes para Gestión de Tecnologías de la Información (ITIL4)
keywords: gti, quiz, test, daypo, epi, itil, itil4, examen, backup, backup carrera, epi gijon, epi gti, gti daypo epi
eleventyNavigation:
  key: gti
  title: gti quiz
redirect_from: ["/quiz/gti", "/quizzes/gti"]
---
