@font-face
    font-family: 'Courier Prime'
    font-display: swap
    src: local('Courier Prime'), url('/assets/fonts/CourierPrime.woff2') format('woff2')

$fonts: 'Courier Prime', monospace
$radius: 10px
$weight: 700
