@use 'colors'

*
    text-align: left

ul, ol
    line-height: 1.35em

#back
    position: static

#title-container
    display: flex
    flex-wrap: wrap
    flex-direction: column

    #title
        margin: 1em 0 0.6em
        font-size: 3em
        font-weight: normal

    #subtitle
        font-style: italic
        font-size: 1.5em
        margin: -1em 0 1em

    .date
        font-size: 0.925em
        font-style: italic
        color: colors.$light

    #breadcrumbs
        justify-content: flex-end
        align-items: center
        align-content: center
        width: 100%
        font-size: 1.125em

        #indx-btn
            padding: 0 0.5em 0

body
    margin-left: 10%
    margin-right: 10%
    margin-bottom: 5%

#button-container
    display: flex
    flex-wrap: wrap

    .button img, .icon
        margin-right: .5em
