@import url('variables.css');

@font-face {
    font-family: 'Courier Prime';
    font-display: swap;
    src: local('Courier Prime'), url('/assets/fonts/CourierPrime.woff2') format('woff2');
}

body {
    font-family: 'Courier Prime', monospace;
    color: var(--white);
    background-color: var(--primary);
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

a, a:visited {
    color: var(--link);
}

.button {
    display: inline-block;
    color: black;
    background-color: var(--white);
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    user-select: none;
}

.button:hover, .button.active {
    animation: MULTICOLOR 1s infinite;
    cursor: pointer;
}

@keyframes MULTICOLOR {
    0%   { background-color:#9f0; color:#f3c; }
    10%  { background-color:#6ff; color:#f0c; }
    20%  { background-color:#39f; color:#9f0; }
    30%  { background-color:#3c0; color:#fff; }
    40%  { background-color:#03f; color:#f90; }
    50%  { background-color:#9f0; color:#f30; }
    60%  { background-color:#f0c; color:#fff; }
    70%  { background-color:#0ff; color:#f30; }
    80%  { background-color:#9f0; color:#066; }
    90%  { background-color:#f90; color:#03f; }
    100% { background-color:#03f; color:#f90; }
}

code {
    color: var(--white);
    background-color: var(--secondary);
    padding: 0 5px;
    border-radius: 5px;
}

.unavailable {
    color: var(--light);
}

#browser-info {
    color: rgba(255, 255, 255, 0.075);
    font-size: 24px;
    line-height: 40px;
    position: fixed;
    top: 200px;
    left: 20px;
    z-index: -1;
    text-align: left;
    user-select: none;
}

#browser-info span {
    user-select: none;
}

#version-tag {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    user-select: none;
}

#version-tag:hover {
    animation: MULTICOLOR 1s infinite;
}

::selection {
    background-color: var(--white);
    color: var(--secondary);
}
