@use 'base'

*
    font-family: base.$fonts

body
    color: base.$white
    background-color: base.$primary
    text-align: center
    overflow-x: hidden
    overflow-y: scroll

a, a:visited
    color: base.$white

    &:hover
        animation: base.$animation

    &.button
        color: base.$primary

.animated
    animation: base.$animation

.button
    display: inline-block
    color: black
    background-color: base.$white
    padding: 10px 15px
    margin: 5px
    text-decoration: none
    user-select: none

    &:hover, .active
        animation: base.$animation
        cursor: pointer

    &.disabled
        cursor: not-allowed
        opacity: 0.5

        &:hover
            animation: none

code
    color: base.$white
    background-color: base.$dark
    padding: 0 5px
    border-radius: 5px

#browser-info
    color: rgba(255, 255, 255, 0.075)
    font-size: 24px
    line-height: 40px
    position: fixed
    top: 200px
    left: 20px
    z-index: -1
    text-align: left
    user-select: none

    span
        user-select: none

#version-tag
    position: fixed
    bottom: 15px
    right: 15px
    font-size: 16px
    color: base.$light
    user-select: none
    text-decoration: none
    cursor: alias

::selection
    background-color: base.$white
    color: base.$secondary

input::selection, textarea::selection, .input::selection
    background-color: base.$secondary
    color: base.$white

hr
    color: base.$dark
    margin-top: 3em
    margin-bottom: 3em
    width: 95%

$rotation: 2.5rad
:root
    --rotation: variables.$rotation

// cards
.carded
    display: flex
    flex-wrap: wrap
    justify-content: center

    .card
        width: max(20%, 300px)
        display: grid
        gap: 1em
        align-items: center
        justify-items: center
        border-radius: base.$radius
        border: 2px solid transparent
        box-shadow: 0 0 0 2px base.$dark
        padding: 1.5em
        margin: 1.5em
        background-color: base.$primary

        p
            margin: 1em

        .card-bottom
            display: flex
            align-items: center
            justify-content: center
            height: 100%

        .card-title
            display: flex
            align-items: center
            justify-content: center

        .card-icons
            user-select: none

.bordered
    background-image: linear-gradient(black, black), linear-gradient(calc(var(--rotation)), base.$light 0, base.$secondary 20%, transparent 80%)
    background-origin: border-box
    background-clip: content-box, border-box
    border: 2px solid transparent

.icon
    font-size: 1em
    height: auto
    width: 1em
    filter: invert(1) grayscale(1) brightness(2)
    position: relative
    top: 0.125em

    .project-btn &
        filter: invert(0) grayscale(1) brightness(1)

.error, noscript
    color: base.$wrong
    font-weight: bold
    font-size: 2em

quote
    font-style: italic
