@use 'base'

body
    font-family: base.$fonts
    color: base.$white
    background-color: base.$primary
    text-align: center
    overflow-x: hidden
    overflow-y: scroll

a, a:visited
    color: base.$white

    &:hover
        animation: base.$animation

.animated
    animation: base.$animation

.button
    display: inline-block
    color: black
    background-color: base.$white
    padding: 10px 15px
    margin: 5px
    text-decoration: none
    user-select: none

    &:hover, .active
        animation: base.$animation
        cursor: pointer

code
    color: base.$white
    background-color: base.$secondary
    padding: 0 5px
    border-radius: 5px

#browser-info
    color: rgba(255, 255, 255, 0.075)
    font-size: 24px
    line-height: 40px
    position: fixed
    top: 200px
    left: 20px
    z-index: -1
    text-align: left
    user-select: none

    span
        user-select: none

#version-tag
    position: fixed
    bottom: 15px
    right: 15px
    font-size: 16px
    color: rgba(255, 255, 255, 0.3)
    user-select: none
    text-decoration: none
    cursor: alias

::selection
    background-color: base.$white
    color: base.$secondary

input::selection, textarea::selection, .input::selection
    background-color: base.$secondary
    color: base.$white

hr
    color: base.$dark
    margin-top: 3em
    margin-bottom: 3em
    width: 95%
