@use 'base'
@use 'animations'
@use 'colors'

@use 'global/breadcrumbs'
@use 'global/versiontag'
@use 'global/models'
@use 'global/footer'
@use 'global/code'

*
    font-family: base.$fonts
    font-weight: lighter

body
    color: colors.$white
    background-color: colors.$primary
    text-align: center
    overflow-x: hidden
    overflow-y: scroll

a, a:visited
    color: colors.$white

    &:hover:not(.project-img-container)
        color: colors.$primary
        background-color: colors.$white !important

    &.button
        color: colors.$primary

.animated
    animation: animations.$multicolor

.button
    display: inline-block
    color: black
    background-color: colors.$white
    padding: 10px 15px
    margin: 5px
    text-decoration: none
    user-select: none

    &:hover
        animation: animations.$multicolor
        cursor: pointer

    &.disabled:hover
        animation: none

.disabled
    cursor: not-allowed !important
    opacity: 0.5

::selection
    background-color: colors.$white
    color: colors.$secondary

input::selection, textarea::selection, .input::selection
    background-color: colors.$secondary
    color: colors.$white

hr
    color: colors.$dark
    margin-top: 3em
    margin-bottom: 3em
    width: 95%

img.round
    border-radius: 3px

.icon
    font-size: 1em
    height: auto
    width: 1em
    filter: invert(1) grayscale(1) brightness(2)
    position: relative
    top: 0.125em
    user-select: none

    &.invert
        filter: invert(0) grayscale(1) brightness(1)

    &.color
        filter: none

.error, noscript
    color: colors.$wrong
    font-weight: bold
    font-size: 2em

.warning
    color: colors.$warning
    font-style: italic

quote
    font-style: italic

.hidden
    display: none

.easter
    font-style: italic
    color: colors.$secondary

img
    user-select: none

.dragover
    border: 2px dashed colors.$light
    background-color: colors.$secondary

.new
    color: colors.$correct
    font-weight: bolder

h1, h2, h3
    font-weight: normal

b, strong
    font-weight: bolder

h1
    font-size: 2.5em

h2
    font-size: 2em

h3
    font-size: 1.5em
