@import url('https://fonts.cdnfonts.com/css/daft-font');

@font-face {
    font-family: "Ndot-55";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("//cdn.shopify.com/s/files/1/0585/8908/5875/t/3/assets/Ndot-55.otf");
}

/* main */
#main-container {
    margin-top: 30vh;
}

#title {
    font-family: 'Daft Font', cursive;
    font-size: 3em;
}

div {
    margin-bottom: 1em;
}


/* socials */
#socials a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    margin-left: 5px;
    padding: 2px 0;
}

.dot {
    vertical-align: middle;
    background-color: var(--dot);
    border: 2px solid var(--dot);
    display: inline-block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

a:hover .dot, span:hover .dot {
    background-color: var(--primary);
}

/* marquee */
.marquee {
    text-align: center;
    font-weight: 1000;
    font: 1.5em 'Ndot-55';
    white-space: nowrap;
    animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}

/* projects */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border-radius: 10px;
    border: 2px solid var(--light);
    background-color: var(--dark);
    width: max(20%, 300px);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: 1em;
}


.project p {
    margin: 1em;
}