@use 'base'
@use 'animations'
@use 'colors'

@font-face // title font
    font-family: 'Daft Font'
    font-display: swap
    src: local('Daft Font'), url('/assets/fonts/DaftFont.woff') format('woff')

@font-face // marquee font
    font-family: "Ndot-55"
    font-display: swap
    src: local('Ndot-55'), url('/assets/fonts/Ndot-55.otf')

$dot: colors.$white

// main
#main-container
    margin-top: 30vh
    overflow: hidden

#title
    font-family: 'Daft Font', cursive
    font-size: 3em
    user-select: none
    font-weight: normal

div
    margin-bottom: 1em

ul
    display: inline-block
    text-align: left

// sections
.section
    max-height: 0
    opacity: 0
    overflow: hidden
    transition: all 0.5s ease

    &.active
        opacity: 1
        max-height: 9999em

#about
    line-height: 1.5em

    ul
        margin-right: 1.25em

.sections
    margin-top: 5em

.section
    display: inline-block

#socials
    user-select: none

    a
        display: inline-block
        text-decoration: none
        font-size: 11.5px
        margin-left: 5px
        padding: 2px 0
        user-select: none
        animation: none

.dot
    vertical-align: middle
    background-color: $dot
    border: 2px solid $dot
    display: inline-block
    border-radius: 50%
    width: 7px
    height: 7px

    a:hover &
        background-color: colors.$primary

#marquee
    text-align: center
    white-space: nowrap
    animation: scroll-right 30s linear infinite
    filter: drop-shadow(0 0 3px colors.$white)
    font-style: italic !important
    font: 500 1.5em 'Ndot-55', sans-serif

.experience-logo
    width: 1.5em
    margin-right: 0.5em
    border-radius: 5%
    user-select: none

// projects table
#projects
    table-layout: auto
    border: 2px solid colors.$light
    border-radius: base.$radius
    margin: 1em
    width: 90%
    backdrop-filter: blur(10px)
    margin-left: auto
    margin-right: auto

    .project.star .project-title
        font-size: 1.5em

    .project-title
        font-size: 1.25em

    .project-icons
        vertical-align: middle

        .project-icons-container
            display: grid

            img
                font-size: 1.25em

                &:not(:last-child)
                    margin: 6px 0

    .project-links
        a
            text-decoration: none
            font-size: 1.25em

    td:not(.project-icons):not(.project-links)
        padding: 1.5em 0.75em

    .project-icons, .project-links
        padding: 0.75em

    tr:not(:last-child) td
        border-bottom: 1px solid colors.$dark

video#background
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: -3
    opacity: 0.1
    transition: all 0.5s ease
    width: 100%
    height: 100%
    object-fit: cover

    &.fullscreen
        z-index: 3
        opacity: 1

#overlay
    position: fixed
    bottom: 16px
    left: 16px
    margin-bottom: 0
    z-index: 2

    .button
        color: white

    #fullscreen-background
        font-size: 0.85em

    #stop-background
        font-size: 1.15em
