@use '../base'

h2, h3
    margin-top: 2em

#subjects
    font-size: 1.15em

    ul, ol
        line-height: 1.8em

    a // subjects
        font-weight: bold
        font-size: 1.2em

    i, em // comments, notes
        font-size: 0.8em

    ul li ul li a // subjects' projects
        font-size: 1em
        font-weight: normal

.unavailable
    color: base.$light
    text-decoration: line-through
