.til-card-title
	font-size: 1.25em

.til-card-date
	font-style: italic

.til-desc
	font-style: italic
	margin: 0.5em 0 0 0

#til-timestamps
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	font-size: 0.9em
	font-style: italic
	color: lightgray

.til-card
	margin: 1em 0

p
	margin: 2em 0

.til-img
	display: inline-block
	text-align: center
	margin: 2em 0

	img
		max-width: 100%
		border-radius: 5px

	figcaption
		font-size: 0.8em
		font-style: italic
		color: lightgray
		text-align: center

#til-related .til-card-title
	font-size: 1.125em
