@use '../base'

span.output
	$padding: 10px

	border-radius: base.$radius
	border: 2px solid base.$light
	padding: $padding
	overflow-wrap: anywhere

.input, .output
	width: 80%
	height: max(1em, auto)

.output:not(textarea)
	text-align: center

.utils
	width: 100%

.util.card
	width: max(29%, 450px)
	padding-bottom: 2em
