{% import "src/static/macros.njk" as macros %}

<ul>
	<li>spanish computer engineering undergraduate.</li>
	<li>currently studying at EPI Gijón (University of Oviedo).</li>
	<li>interested in all things tech and music.</li>
	<li>i like climbing, cycling and playing bass.</li>
	<li>{{ macros.renderIcon('ruby') }} ruby, {{ macros.renderIcon('python') }} python, {{ macros.renderIcon('java') }} java and a little bit of everything else (c/c++/c#, shell, web, sql, ...)</li>
	<li>i take <a href="https://github.com/miermontoto/notes">notes</a> in {{ macros.renderIcon('markdown') }}  markdown using {{ macros.renderIcon('obsidian') }} <a href="https://obsidian.md">obsidian</a>.
</ul>
