---
layout: project.njk
title: berkeley
permalink: /berkeley/
buttons: [
	{icon: 'download', from: 'misc', url: '/assets/files/berkeley-mono-typeface.zip', text: 'V1'},
	{icon: 'download', from: 'misc', url: '/assets/files/berkeley-mono-nerdfont.zip', text: 'V1 + nerd-fonts patch'},
	{icon: 'download', from: 'misc', url: '/assets/files/TX2.zip', text: 'V2'},
]
keywords: ['font', 'mono', 'nerd-font', 'berkeley', 'berkeley-mono', 'berkeley-mono-nerd-font', 'download berkeley', 'download', 'berkeley mono free']
---

why would anyone have to pay +75$ for a font?
