---
layout: project.njk
title: berkeley
permalink: /berkeley/
eleventyNavigation:
  key: berkeley
buttons: [
	{icon: 'download', from: 'misc', url: '/assets/files/berkeley-mono-typeface.zip', text: 'regular'},
	{icon: 'download', from: 'misc', url: '/assets/files/berkeley-mono-nerdfont.zip', text: 'patched'},
]
keywords: ['font', 'mono', 'nerd-font', 'berkeley', 'berkeley-mono', 'berkeley-mono-nerd-font']
---

why would anyone have to pay 75$ for a font?
