---
layout: project.njk
title: changelog
permalink: /changelog/
eleventyNavigation:
  key: changelog
---

{% addStyle "changelog" %}
{% changelog changelog, pkg %}
{% include 'src/templates/snippets/top.njk' %}
