---
layout: project.njk
title: questions
desc: a collection of questions that i've at some point looked up on the internet.
permalink: /questions/
eleventyNavigation:
  key: questions
---

{% addStyle 'questions' %}
{% qka questions %}
