/* main */
#content {
    width: 90%;
    padding: 5%;
}

#title {
    font-family: 'Daft Font', cursive;
    font-size: 3em;
}


/* socials */
#socials a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-size: 11px;
    margin-left: 5px;
    padding: 2px 0;
}

.dot {
    vertical-align: middle;
    background-color: var(--dot);
    border: 2px solid var(--dot);
    display: inline-block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

a:hover .dot {
    background-color: var(--primary);
}