---
permalink: false
---

{% macro renderIcons(svgs) %}
    {% for svg in svgs %}
        {{ renderIcon(svg) }}
    {% endfor %}
{% endmacro %}

{% macro renderIcon(svg) %}
    {% set file = '/assets/logos/tech/' + svg + '.svg' %}
    <img src="{{ file }}" class="icon svg" alt="{{ svg }}" title="{{ svg }}">
{% endmacro %}

{% macro renderProjects(projects) %}
    <table id="projects">
        <thead hidden>
            <tr>
                <th>Project</th>
                <th>Links</th>
                <th>Description</th>
                <th>Icons</th>
                {# <th>Image</th> #}
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                {{ renderProject(project) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro renderProject(project) %}
    <tr class="project {{ project.data.star }}" id="{{ project.data.title | slug }}">
        <td class="project-title">
            {% if project.data.demo %}
                <a href="{{ project.data.demo }}" rel="noopener noreferrer">{{ project.data.title }}</a>
            {% else %}
                {{ project.data.title }}
            {% endif %}
        </td>

        <td class="project-links">
            {% if project.data.source %}
                <a href="{{ project.data.source }}" target="_blank" rel="noopener noreferrer"
                    aria-label="go to the source code for the {{ project.data.name | slug }} project">
                    {{ renderIcon('git') }}
                </a>
            {% endif %}
            {% for link in project.data.links %}
                <br>
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.icon | safe }}</a>
            {% endfor %}
        </td>

        <td class="project-description">
            {{ project.data.desc | safe }}
        </td>

        <td class="project-icons">
            {{ renderIcons(project.data.icons) }}
        </td>

        {# <td class="project-image">
            {% if project.data.image %}
                <img src="{{ project.data.image }}" alt="{{ project.data.title }} image">
            {% endif %}
        </td> #}
    </tr>
{% endmacro %}

{% macro renderExperiences(experiences) %}
    {% for experience in experiences %}
        {{ renderExperience(experience) }}
    {% endfor %}
{% endmacro %}

{% macro renderExperience(experience) %}
    <div class="card {{ experience.data.class }}" id="{{ experience.data.name | slug }}">
        <div class="card-title-col">
            <h1 class="card-title">
                {% set logo = '/assets/logos/exp/' + (experience.data.logo or experience.data.name) + '.png' %}
                <img src="{{ logo }}" class="experience-logo" alt="{{ experience.data.name }} logo">
                {{ experience.data.name }}
            </h1>
            {% if experience.data.role %}
                <b>{{ experience.data.role }}</b>
            {% endif %}
            {% if experience.data.period %}
                <br>
                <i>{{ experience.data.period }}</i>
            {% endif %}
        </div>
        <div class="card-description">
            {{ experience.content | safe }}
        </div>
        {% if experience.data.icons %}
            <div class="card-bottom">
                <div class="card-icons">
                    {{ renderIcons(experience.data.icons) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}
