---
permalink: false
eleventyImport:
    collections: ["project"]
---

{% macro renderIcons(svgs) %}
    {% for svg in svgs %}
        {{ renderIcon(svg) }}
    {% endfor %}
{% endmacro %}

{% macro renderIcon(svg, invert=false, color=false) %}
    {% set invert = ' invert' if invert else '' %}
    {% set color = ' color' if color else '' %}
    {% set classes = 'icon' + invert + color %}
    <img src="/assets/icons/tech/{{ svg }}.svg" class="{{ classes }}" alt="{{ svg }}" title="{{ svg }}">
{% endmacro %}

{% macro renderLinks(project, names=true) %}
    {% if project.data.source and (project.data.demo or project.content) %}
        <a href="{{ project.data.source }}" target="_blank" rel="noopener noreferrer" aria-label="source code for {{ project.data.title }}" class="button">
            {{ renderIcon('git', true) }} {{ "source" if names }}
        </a>
    {% endif %}
    {% if project.data.demo and project.content %}
        <a href="/{{ project.data.title }}/" target="_blank" rel="noopener noreferrer" aria-label="info for {{ project.data.title }}" class="button">
            ⓘ {{ "readme" if names }}
        </a>
    {% endif %}
    {% for link in project.data.links %}
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="button">{{ link.icon | safe }} {{ link.name if names }}</a>
    {% endfor %}
{% endmacro %}

{% macro renderTitle(project) %}
    {% if project.data.emoji %}
        <span class="emoji">{{ project.data.emoji | safe }}</span>
    {% endif %}
    {% if project.data.demo %}
        <a href="{{ project.data.demo }}" rel="noopener noreferrer">{{ project.data.title }}</a>
    {% elif project.content %}
        <a href="/{{ project.data.title }}/" rel="noopener noreferrer">{{ project.data.title }}</a>
    {% elif project.data.source %}
        <a href="{{ project.data.source }}" rel="noopener noreferrer">{{ project.data.title }}</a>
    {% else %}
        {{ project.data.title }}
    {% endif %}
    {% if project.data.star %}
        <span class="star info">⭐</span>
    {% endif %}
    {% if project.data.new %}
        <span class="new info">new!</span>
    {% endif %}
{% endmacro %}
