@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.cdnfonts.com/css/daft-font');

body {
    --primary: /*#202124*/ black;
    --secundary: #4F5051;
    --dark: #101012;
    --light: #8F9091;
    --white: #f8f8f2;
    --dot: var(--white);

    font-family: 'Courier Prime', monospace;
    color: var(--white);
    background-color: var(--primary);
    overflow-x: hidden;
    text-align: center;
}

footer {
    padding: 5px;
    font-size: 0.75em;

    position: absolute;
    bottom: 0;
    width: 100%;
}

#text {
    font-size: 1.2em;
    margin-bottom: 10px;
}