---
title: mier
layout: "base.njk"
others: "<link rel='stylesheet' href='static/index.css'>"
onload: "onload='chooseRandomString();'"
---

<div id="content">
    <div id="title">juan<br>mier</div>
    <div class="marquee" id="scroll-string"></div>

    <div id="socials">
        {% for item in collections.socials %}
            <a href="{{ item.data.target }}" target="_blank" rel="noopener noreferrer">
                <span class="dot"></span> {{ item.data.title }}
            </a>
        {% endfor %}
    </div>

    <br><h1> projects. </h1>
    <div id="projects">
        {% for project in collections.projects %}
            <div class="project">
                <h1>{{ project.data.title }}</h1>
                <img src="{{ project.data.img }}">
                <p>{{ project.data.desc }}</p>
                {% if project.data.link %}
                    <a href="{{ project.data.link }}" target="_blank" rel="noopener noreferrer">read more.</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<!--{%include "footer.njk"%}-->
