---
title: mier
layout: base.njk
css: /static/css/index.css
js: /static/js/index.js
---

<div id="main-container">
    <div id="title">juan<br>mier</div>
    <div id="marquee"><noscript>js isn't enabled :')</noscript></div>

    <div id="socials">
        {% for item in collections.socials %}
            <a href="{{ item.data.target }}" rel="noopener noreferrer">
                <span class="dot"></span> {{ item.data.title }}
            </a>
        {% endfor %}
    </div>

    <div id="buttons">
        <span class="button" id="project-button" onclick="toggleSection('project-section');">projects</span>
        <span class="button" id="about-button" onclick="toggleSection('about-section');">about</span>
    </div>
</div>

<section id="project-section" class="sections" hidden>
    <h1>projects.</h1>
    <div class="projects" id="general-projects">
        {% for project in collections.projects %}
            <div class="project" id="{{ project.data.title | slug }}">
                <h1 class="project-title">
                    {% if project.data.demo %}
                        <a href="{{ project.data.demo }}" rel="noopener noreferrer">
                            {{ project.data.title }}
                        </a>
                    {% else %}
                        {{ project.data.title }}
                    {% endif %}
                </h1>
                <p class="project-description">{{ project.data.desc }}</p>
                <div class="project-links">
                    {% if project.data.source %}
                        <a href="{{ project.data.source }}" target="_blank" rel="noopener noreferrer">source code</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <span class="button" onclick="toggleVisibility('others-section');">show all</span>
    <section id="others-section" hidden>
        <h2>other projects.</h2>
        <div id="others-section" class="projects">
            {% for project in collections.otherprojects %}
                <div id="{{ project.data.title | slug }}" class="project">
                    <h1 class="project-title">{{ project.data.title }}</h1>
                    <p class="project-description">{{ project.data.desc }}</p>
                    <div class="project-links">
                        {% if project.data.source %}
                            <a href="{{ project.data.source }}" target="_blank" rel="noopener noreferrer">source code</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</section>

<section id="about-section" class="sections" hidden>
    <div id="about">
        {% renderFile "./src/content/about.md" %}
    </div>
</section>
