---
title: mier
layout: base.njk
css: /static/css/index.css
js: /static/js/index.js
---

<script src="https://kit.fontawesome.com/a73ee9bbfb.js" crossorigin="anonymous" async></script>

<div id="main-container">
    <div id="title">juan<br>mier</div>
    <div id="marquee"><noscript>js isn't enabled :')</noscript></div>

    <div id="socials">
        {% for item in collections.socials %}
            <a href="{{ item.data.target }}" rel="noopener noreferrer">
                <span class="dot"></span> {{ item.data.title }}
            </a>
        {% endfor %}
    </div>

    <div id="buttons">
        <span class="button" id="project-button">projects</span>
        <span class="button" id="about-button">about</span>
    </div>
</div>

{% import "src/static/macros.njk" as macros %}

<section id="project-section" class="section">
    <h1>projects.</h1>
    <div class="carded" id="general-projects">
        {{ macros.renderProjects(collections.projects) }}
    </div>

    <span class="button" id="others-button">show all</span>
    <section id="others-section" class="section">
        <h2>other projects.</h2>
        <div id="others-section" class="carded">
            {{ macros.renderProjects(collections.otherprojects) }}
        </div>
        {% top %}
    </section>
</section>

<section id="about-section" class="section">
    <div id="experience-container">
        <h1>experience.</h1>
        <div id="experience" class="carded">
            {{ macros.renderExperiences(collections.experience) }}
        </div>
    </div>
    <br>
    <div id="about-container">
        <h1>about.</h1>
        <div id="about">
            {% renderFile "./src/content/about.md" %}
        </div>
    </div>
</section>
