@use '../colors'

#breadcrumbs
    color: colors.$light
    user-select: none

    #b-map
        text-decoration: none
        color: inherit !important
        background-color: inherit !important

    .bc-target
        font-size: 1.1em

        &:not(a)
            color: colors.$white
