@use '../colors'

footer
    text-align: center
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    border-top: 2px solid colors.$dark
    color: colors.$light
    background: colors.$primary
    padding: 1em
    font-size: 0.95em

    img
        height: 2em
        margin-bottom: -0.75em

    .footer-links
        font-size: 0.7em
        font-style: italic
        color: colors.$light !important
