@use '../colors'

#version-tag
    color: colors.$light
    user-select: none
    text-decoration: none
    cursor: alias

body > #version-tag
    position: fixed
    bottom: 12px
    right: 10px
    font-size: min(14px, max(2.25vw, 0.65em))
    padding: 0.125em
    z-index: 2
